<section class="products">


<section class="header">
    <header class="cards">
        <div class="cards__infos">
            Ganhos
            <hr class="cards__line"/> 
            <span class="cards__infos--money">R$ 500,00 reais</span>
        </div>
        <div class="cards__infos">
            Gastos
            <hr class="cards__line"/> 
            <span class="cards__infos--lose">R$ 200,00 reais</span>
        </div>
        <div class="cards__infos">            
            Estoque
            <hr class="cards__line"/> 
            <span>200 produtos</span></div>
    </header>
    <section class="graph">
        <h3>Andamento das vendas</h3>
        <app-graph></app-graph>
    </section>
</section>
</section>