@import './../../../assets/utils/variables-mixins';

.graph {
    &__title {
        text-align: center;
        font-weight: $bold;
    }

    background-color: $dark;
    border-radius: 5px;
    margin: 1rem;
    padding: 1rem;    

    @include responsive('tablet') {
        margin: 3rem 1rem 0 6.5rem;
    }
    
    &__line {
        width: 100%;
    }
}