@import '../../../../assets/utils/variables-mixins';

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 1rem;

    @include responsive('tablet') {
        margin: 0 1rem 0 6rem;
    }

    &__list {
        background-color: $dark;
        border-radius: 10px;
        padding: 0.9rem;
        margin-top: 1rem;

        @include responsive('tablet') {
            display: flex;
            justify-content: space-between;
            border-radius: 5px;
        }

        &__title {
            font-weight: $bold;
            margin: 0 0 1rem;
        }
    }

    &__modal {
        display: flex;

        &__icons {
            padding: 0.2rem;
            border-radius: 5px;
            margin-top: 0.2rem;
            display: flex;
            align-items: center;
            border: none;
            color: $white;
            cursor: pointer;

            &--edit {
                background-color: $yellow;
            }

            &--delete {
                margin-left: 1rem;
                background-color: $red;
            }
        }
    }

    &__modal {
        text-align: center;
        
        span {
            font-weight: $bold;
        }

        &__link {
            background-color: $purple;
            border: none;
            border-radius: 5px;
            padding: 1rem;
            color: $white;
            cursor: pointer;

            &--delete {
                background-color: $red;
                margin-left: 2rem;
            }
        }
    }
}