@import '../../../../assets/utils/variables-mixins';

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 1rem;

    &__list {
        background-color: $dark;
        border-radius: 10px;
        padding: 0.9rem;
        margin-top: 1rem;

        &__title {
            font-weight: $bold;
            margin: 0 0 1rem;
        }
    }

    &__modal {
        display: flex;

        &__icons {
            padding: 0.2rem;
            border-radius: 5px;
            &--edit {
                background-color: $yellow;
            }

            &--delete {
                margin-left: 1rem;
                background-color: $red;
            }
        }
    }
}