@import '../../../assets/utils/variables-mixins';


.modal {
    text-align: center;
    background: $dark;
    border-radius: 8px;
    min-width: 320px;
    position: fixed;
    left: 50%;
    padding: 24px;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
    
    &__header {
        text-align: left;
        i {
            cursor: pointer;
        }
    }

    &__link {
        background-color: $purple;
        border: none;
        border-radius: 5px;
        padding: 1rem;
        color: $white;
        cursor: pointer;

        &--delete {
            background-color: $red;
            margin-top: 1rem;
        }
    }

    &__body {
        p {
            margin-top: 1rem;
            font-weight: $bold;
        }
    }

    &__removed {
        display: none;
    }

    &__footer {
        &__button {
            background-color: $red;
            border: none;
            color: $white;
            padding: 1rem;
            border-radius: 5px;
            cursor: pointer;
        }
    }
}

.overlay {
    background: $black;
    height: 100vh;
    left: 0;
    opacity: 0.5;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 10;
}