
$purple: #7051dc;
$purple-dark: #431c76;
$black-dark: #08081a;
$dark: #1c1c2e;
$text-color: #f4ede8;
$white: #FFFFFF;
$black: #000000;
$green: #2ace25;
$yellow: #e9d149;
$red: #ee2a2a;
$disabled: #eee;
$disabled-text: #aaa;
$transparent: #f3f3f3;
$skeleton-color: #ebebeb;
$bold: 700;

@mixin responsive($phone) {
    @if $phone == tablet {
        @media only screen and (min-width: 768px) {
            @content;
        }
    } @else if $phone == desktop  {
        @media only screen and (min-width: 2560px) {
            @content;
        }
    }
}