
// COLORS
$purple: #7051dc;
$purple-dark: #431c76;
$black-dark: #08081a;
$dark: #1c1c2e;
$text-color: #f4ede8;
$white: #FFFFFF;
$black: #000000;
$green: #2ace25;
$red: #ee2a2a;
$disabled: #eee;
$disabled-text: #aaa;

// SIZE
$bold: 700
