@import '../../assets/utils/variables';

.cards {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;

    &__line {
        border: 1px solid $purple;
        width: 10%;
    }

    &__infos {
        background-color: $dark;
        text-align: center;
        width: 20%;
        font-size: 1.2rem;
        margin-top: 5rem;
        border-radius: 5px;
        padding: 1rem;
        height: 10vh;
        font-weight: $bold;

        &--money {
            color: $green;
        }

        &--lose {
            color: $red;
        }
    }
}

.graph {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}