@import './../../../assets/utils/variables-mixins';

.menu {
    display: flex;
    justify-content: space-between;
    background-color: $purple;
    border-radius: 0 0 10px 10px;
    
    &__itens {
        display: flex;
        align-items: center;
        width: 100%;
    }

    &__list {
        text-align: center;
        padding: 0.5rem;

        li {
            list-style: none;
        }

        &__item {
            text-decoration: none;
            color: $white;
            font-size: 0.6rem;

            &__icon {
                display: none;
            }
        }

        &:hover {
            background-color: $purple-dark;
            border-radius: 10px;
        }
    }

    &__profile {
        display: flex;
        align-items: center;
        font-size: 0.6rem;
        margin: 0.5rem;
    }
}

.material-icons {
    font-size: 0.5rem;
    margin-left: 0.5rem;
}