@import './../../../assets/utils/variables-mixins';

.menu {
    display: flex;
    justify-content: space-between;
    background-color: $purple;
    border-radius: 0 0 10px 10px;

    @include responsive('tablet') {
        flex-direction: column;
        position: fixed;
        height: 100vh;
        border-radius: 0;
        width: 10%
    };
    
    @include responsive('desktop')  {
        width: 5%;
    }

    &__title {
        text-align: center;
        font-weight: $bold;
        color: $white;
        font-size: 2rem;
    }

    &__logo {
        display: none;

        @include responsive('tablet') {
            margin: 0.2rem;
            height: 8%;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
            background-color: $purple-dark;
        }
    }
    
    &__itens {
        display: flex;
        align-items: center;
        width: 100%;

        @include responsive('tablet') {
            flex-direction: column;
            justify-content: center;
            height: 85vh;
        }
    }

    &__list {
        text-align: center;
        padding: 0.2rem;
        transition: .5s ease-in-out;

        li {
            list-style: none;
        }

        &__item {
            text-decoration: none;
            color: $white;
            font-size: 0.6rem;

            &__icon {
                display: none;
                
                @include responsive('tablet') {
                    display: block;
                }
            }
        }

        &:hover {
            background-color: $purple-dark;
            border-radius: 10px;
            padding: 1rem;
        }

        &__label {
            @include responsive('tablet') {
                display: none;
            }
        }
    }

    &__profile {
        display: flex;
        align-items: center;
        font-size: 0.6rem;
        margin: 0.5rem;

        @include responsive('tablet') {
            font-size: $font-medium;
            font-weight: $bold;
            flex-direction: column;
        }
    }
}