@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import 'material-icons/iconfont/material-icons.css';
@import './assets/utils/variables-mixins';

body {
    margin: 0;
    padding: 0;
    font-family: "Poppins" , sans-serif;
    background-color: $black-dark;
    color: $text-color;
}

input[type="text"]:focus {
    border: 2px solid $purple;
}

.line {
    border: 2px solid $purple;
    width: 50%;
}