<form class="signin" [formGroup]="authenticationForm" (ngSubmit)="submitLogin()">
    <header class="signin__header">
        <h2 class="signin__header__title">Login</h2>
    </header>

    <div class="signin__inputs">
        <input 
        type="text" 
        class="signin__inputs__style" 
        placeholder="Digite seu nome de usuario"
        formControlName="username">
        <input 
        type="password" 
        class="signin__inputs__style" 
        placeholder="Digite sua senha"
        formControlName="password">
    </div>
    <footer class="signin__footer">
        <app-button [buttonInformations]="buttonInformations" class="signin__footer__button"></app-button>
        <span class="signin__footer--link">Ainda nao possui conta? <a [routerLink]="'/signup'">Criar conta</a></span>
    </footer>
</form>